
<div class="container col-md-6 col-md-offset-3">
  <div class="page-header text-center">
    <h1>MSNGR <small>welcome to msngr</small></h1>
  </div>
</div>

<div class="container col-md-6 col-md-offset-3">

<% @people.each do |user| %>
  <% user.messages.each do |msg| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to user.email, user_path(id: user.id) %></h3>
  </div>
  <div class="panel-body">
    <%= msg.msg %>
    <br>
    <small>posted <%=link_to distance_of_time_in_words_to_now(msg.created_at), msg_path(id: msg.id, uid: user.id) %> ago</small>
  </div>
</div>
<% end %>
<% end %>
</div>

<div class="col-xs-3 fixed-top">
<div class="list-group">
  <div class="list-group-item active">
    interesting people
  </div>
  <% @users.each do |user| %>
    <div class="list-group-item">
      <% if @current_user.following? user %>
        <%= "Following #{user.email}"%>
      <% else %>
        <%= link_to "Follow #{user.email}", follow_user_path(id: user.id), method: :post %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
