<h1><%=@user.email%></h1>

<%= @msg.msg %>
<br>
posted <%= distance_of_time_in_words_to_now(@msg.created_at) %> ago

<hr>
<% if @current_user.following? @user %>
  <%= link_to "Stop Following #{@user.email}", stop_following_user_path(id: @user.id), method: :post %>
<% else %>
  <%= link_to "Follow #{@user.email}", follow_user_path(id: @user.id), method: :post %>
<% end %>
