<div class="page-header text-center">
  <h1>MSNGR <small>sign up</small></h1>
</div>

<div class="col-md-6 col-md-offset-3">
<%= simple_form_for @user do |f| %>

  <%=f.input :email %>
  <%=f.input :password %>
  <%=f.input :password_confirmation, label: "Password Confirmation" %>
  <%= f.button :submit, "Sign Up", class: "btn btn-primary" %>

<% end %>
</div>
