<!DOCTYPE html>
<html>
<head>
  <title>Messenger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav nav-tabs navbar-static-top">
  <li role="presentation" class="active"><a href="/">MSNGR</a></li>
    <%if @current_user%>
  <li role="presentation"><%=link_to "Profile", "/users/#{@current_user.id}" %></a></li>
    <%end%>
    <%if @current_user%>
  <li role="presentation"><%=link_to 'New Msg', new_msg_path %></li>
    <%end%>
    <%if @current_user%>
  <li role="navbar-right" class="navbar-left"><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
    <%end%>
  </ul>

  <div class="brex text-center">
    <%if @current_user%>
  <p> welcome to MSNGR <%= @current_user.email %></p>
    <%end%>
  </div>


  <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>


<%= yield %>

</body>
</html>
